@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/roboto/index.css';

html {
  -webkit-font-smoothing: antialiased;
}
body,
html {
  // Fix tailwindcss/daisyUI applying color to the body tag
  background-color: transparent !important;
  @apply rounded-3xl overflow-hidden;
}

* {
  @apply transition-all;
}

// Class is used for development purposes only.
.dev {
  border: 1px solid red;
}
